body{
    background-color: beige;
    font-style: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 100%;
}
header{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 125%;
}
.nav-logo{
    filter: grayscale(50%);
    width: 300px; 
    height: 200px;
}
.profile-picture{
    background-blend-mode: overlay;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}
.profile-text{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 75%;
}